<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h2>All Listing:</h2>
    <form method="get" action="/listing/new">
        <button>Create New Listing</button>
    </form>
    <ul>
        <% for (listing of allListing) { %>
            <li><a href="/listing/<%= listing._id %>"> <%= listing.title %></li>
        <% } %>
    </ul>
</body>
</html>