<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h2>Creat a Listing</h2>
    <form method="post" action="/listing">
        <input type="text" placeholder="title" name="listing[title]">
        <br><br>
        <textarea type="text" placeholder="description" name="listing[description]"> </textarea>
        <br><br>
        <input type="text" placeholder="url" name="listing[image]">
        <br><br>
        <input type="number" placeholder="price" name="listing[price]">
        <br><br>
        <input type="text" placeholder="location" name="listing[location]">
        <br><br>
        <input type="text" placeholder="country" name="listing[country]">
        <br><br>
        <button>Submite</button>
    </form>
</body>
</html>