<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Post</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <h2>Edit Your Post ID: <%= post.id %></h2>
    <hr>
    <div class="post">
        <h3>@<%= post.username %></h3>
        <form method="post"  action="/posts/<%= post.id %>?_method=PATCH">
            <textarea rows="10" cols="35" name="content"><%= post.content %> </textarea>
            <button>Submit</button>
        </form>
        
    </div>
    
</body>
</html>